body {
    background-color: #fff;
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    margin: 10px;
    font-size: 14px;
}

.navRightSide {
    float: right;
}
/* nav start */

.signInButton {
    color: #fff;
    height: 30px;
    width: 65px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 3px;
    font-weight: bold;
}
/* nav end */

/* main start */

main {
    min-width: 500px;
}

#googleLogo {
    display: block;
    margin: 150px auto 25px auto;
    max-width: 100%;
    height: auto;
}

input[type="search"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 500px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Vector_search_icon.svg'),
    url('https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg');
    background-position: 15px, 450px 8px;
    background-repeat: no-repeat;
    background-size: 15px 15px, 20px 20px;
    
}

input[type="search"]:hover {
    box-shadow: 1px 1px 5px 1px lightgray;
    border: none;
}

input[type="search"]:focus {
    outline: 0 !important;
}

#searchForm {
    text-align: center;
}

.mainButton {
    display: inline;
    margin: 25px 10px;
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 15px;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    width: 140px;
    height: 35px;
}

.mainButton:hover {
    border: 1px solid lightgray;
    color: black;
    background-color: #f8f8f8;
}

.mainButton:focus {
    outline: 0 !important;
    border: 1px solid blue;
}

/* main end */

/* footer start */
footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;

}
/* footer end */

