body {
    background-color: #fff;
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    margin: 10px;
    font-size: 14px;
}

.navRightSide {
    float: right;
}
/* nav start */

.signInButton {
    color: #fff;
    height: 30px;
    width: 65px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 3px;
    font-weight: bold;
}
/* nav end */

/* main start */
#googleLogo {
    display: block;
    margin: 150px auto 25px auto;
}

input[type="search"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 1px solid lightgray;
}

#searchForm {
    text-align: center;
}

.mainButton {
    display: inline;
    margin: 10px auto;
}
/* main end */

/* footer start */
footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;

}
/* footer end */

